.uk-paginati/* ----------- FUENTES      */ 
	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.signika{
		font-family: 'Signika', sans-serif;
	}
	body{
		font-size: 18px;
	}

/* ----------- COLORES      */
	a,
	a:hover,
	.uk-navbar-dropdown-nav>li>a,
	.color-general{
		color: black;
	}
	em,
	.buybutton,
	.uk-navbar-dropdown-nav>li>a:hover,
	.color-primary,
	.color-primary-hover:hover{
		color: #1559a9;
	}
	.buybutton:hover,
	.social,
	.color-secondary{
		color: #ee313d;
	}
	.color-secondary-1{
		color: white;
		text-shadow: -4px -1px 0px #204065;
	}
	.color-terciario{
		color:#000
	}
	.color-verde{
		color: #22cf5b;
	}
	.color-amarillo{
		color: #e7ba20;
	}
	.color-rojo{
		color: #c4262e;
	}
	.color-rojo-vivo{
		color: #ff0000;
	}
	.color-gris-9{
		color: #8c8b8b;
	}
	.color-gris-7{
		color: #777;
	}
	.color-gris-6{
		color: #666;
	}
	.color-gris-4{
		color: #444;
	}
	.color-gris{
		color: #a7a6a4;
	}
	.color-gris-3{
		color: #333;
	}
	.color-gris-2{
		color: #222;
	}
	.color-gris-a,
	.color-gris-a:hover{
		color: #a6a8ab;
	}
	.color-gris-d{
		color: #ddd;
	}
	.color-gris-contizador{
		color: #898f92;
	}
	.uk-accordion-title:focus,
	.uk-accordion-title:hover,	
	.textfooter li a,
	.color-blanco,
	.color-blanco:hover,
	.ui-datepicker-calendar a{
		color: white;
	}
	.uk-slidenav,
	.color-negro{
		color: black;
	}

/* ----------- FONDOS       */
	.bg-primary{
		background: #1559a9;
	}
	.ajax-file-upload{
		background: rgb(179,47,79)!important;
	}
	.bg-secondary{
		background:#ee313d;
	}
	.bg-thirdly{
		background:#f2f2f2;
	};
	.uk-slidenav,
	.bg-none{
		background: none;
	}
	.bg-danger,
	.bg-red{
		background: #e30613;
	}
	.bg-success{
		background: #32d296;
	}
	.bg-blue{
		background: #1e87f0;
	}
	.bg-warning,
	.bg-yellow{
		background: #f6b61a;
	}

	.uk-navbar-dropdown,
	.bg-white{
		background: white;
	}
	.bg-gris-claro{
		background: #DDD;
	}
	.bg-gris{
		background: #888;
	}
	.uk-subnav-pill > .uk-active > a,
	.bg-gris-oscuro{
		background: #444;
	}
	.bg-black{
		background: black;
	}

	.bg-dark{
		background: rgba(0,0,0,.8);
	}
	.bg-oscuro{
		background: rgba(0,0,0,.5);
	}
	.bg-claro{
		background: rgba(250,250,250,.7);
	}

	.bg-test1{
		background: #ff0;
	}
	.bg-test2{
		background: #f0f;
	}
	.bg-test3{
		background: #0ff;
	}
	.bg1{
		background: #F8E0E0;
	}

/* ----------- NAVEGACIÓN   */
	#navegacion{
	}
	.uk-navbar-nav > li > a,
	.uk-navbar-item,
	.uk-navbar-toggle {
		border-bottom: solid 3px transparent;
		color: black;
		font-family: 'Nunito', sans-serif;
		font-size: 1em;
		padding: 0 20px;
		min-height: 50px;
		text-transform: capitalize;
	}
	.uk-navbar-nav > li.uk-active > a,
	.uk-navbar-nav > li:hover > a,
	.uk-navbar-nav > li > a:focus,
	.uk-navbar-nav > li > a.uk-open {
		border-bottom: solid 3px #7ab3c7;
		color: black;
		outline: none;
	}
	.uk-navbar-dropdown-nav{
		text-align: left;
	}
	.uk-navbar-dropdown {
		margin: 0;
	}
	.uk-navbar-dropdown-nav>li>a{
		font-size: 18px;
		margin: 0;
		padding-left: 5px;
	}


	/* Off canvas */
	.uk-offcanvas-bar{
		background:#1559a9;
		margin:0;
		padding:0;
		width:100%
	}
	.uk-offcanvas-bar a{
		border:solid 1px transparent;
		background: transparent;
		color:#1559a9;
		font-size: 1em!important;
		margin:0;
		padding:0;
		text-align: center;
	}

	.uk-offcanvas-bar a:hover{
		text-align: center;
		margin:0;
		padding:0;
	}

	.uk-offcanvas-bar li{
		border-radius: 10px;
		margin-top: 5px;
	}

	.uk-offcanvas-bar .uk-nav-sub a{
		padding-left: 20px;
	}
	.uk-offcanvas-close{
		color:#1559a9!important;
	}

/* ----------- TEMPLATE     */

	.uk-pagination li{
		padding-left: 5px;
	}
	.uk-pagination a{
		padding: 2px 10px;
		border-radius: 100%;
		background: white;
		border: #1559a9 1px solid; 
		color: #1559a9;
	}
	.uk-pagination .uk-active,
	.uk-pagination a:hover{
		background: #1559a9;
		color: white;
		border: #1559a9 1px solid;
	}
	.pagination-arrows{
		background: none!important;
		border: none!important;
		color: #1559a9!important;
	}
	#idioma{
		margin:0;
		padding:0;
		width:100%;

	}
	#idioma:hover{
		-webkit-box-shadow: 11px 10px 5px -8px rgba(21,90,169,1);
		-moz-box-shadow: 11px 10px 5px -8px rgba(21,90,169,1);
		box-shadow: 11px 10px 5px -8px rgba(21,90,169,1);

	}
	#idioma select{
		border: solid #f2f2f2;
		background:#f2f2f2;
		color:#000;
		margin:0;
		margin-top:5px;
		padding:0;
		text-align:right;
		width:100%;
		cursor:pointer;
	}
	#idioma select option{
		margin:0;
		padding:0;
		text-align:right;
		width:100%;
	}

		/* ----------- CSS ----------- */
		/* ----------- PAGINAS ----------- */
		/* ----------- GENERALES ----------- */
		.bg_white{
			background:#fff;
		}
		.white{
			color:#fff;
		}
		.blue{
			color:#1559a9;
		}
		.bg-green{
			background:#589e0c!important;
		}
		.bg-gris-ligth{
			background:#f2f2f2
		}
		.color-verde2{
			color: #589e0c;
		}
		.zero{
			margin:0!important;
			padding:0!important;
		}
		.border-cero{
			margin:0;
			padding:0;
		}
		.left-0{
			margin-left:0;
			padding-left:0;
		}
		.width-100{
			width:100%;
		}
		.width-5{
			width:5%;
		}
		.height-200{
			height:200px;
		}
		.height-120{
			height:120px;
		}
		.font-light{
			font-weight:100;
		}
		.full-container{
			margin:0!important;
			padding:0!important;
			height:100vh!important;
			width:100%!important;
		}
		.box-shadown{
			-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
			-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
			box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
		}
		.auto-container{
			margin:0;
			padding:0;
			height:auto;
			width:100%;
		}
		.style-img{
			background-position:top!important;
			background-repeat:no-repeat!important;
			background-size:cover!important;
			height: 100%;
			margin:0;
			padding:0;
			width:100%;
		}
		.style-header{
			    background-size:cover!important;
		}
		
		.banner-header{
			background:url(../img/design/banner-header.png);
		}
		#header ul,
		#header ul li{
			list-style:none;
			text-align: right;
			width:100%;
		}
		#header ul li a{
			color:#fff;
			text-align:right;
			margin:0;
			text-decoration:underline;
			padding:0;
		}
		#header ul li a:hover{
			color:#ee313d;
		}
		.top_menu{
			margin-top:-60px
		}
		.inputs{
			font-size: 12px;
			color: white;
			background:#1559a9 ;
		}
		.inputs::placeholder{
			color:white;
		}
		input{
			border:solid 1px #eee;
			margin:0;
			padding:5px 0;
			width:100%;
		}
		.padInput{
			margin:0;
			padding:5px
		}
		.btn-header-container{
			margin:0;
			padding:0;
			width:160px;
		}
		.btn-more-container{
			margin:0;
			padding:0;
			width:100px;
		}
		.btn-header{
			border:solid 2px #fff;
			color:#1559a9;
			background:#fff;
			position:relative;
			padding:6px 0;
			width:100%;
			z-index:10;
		}
		.btn-header-border{
			background:#1559a9;
			border:solid 2px #ee313d;
			position:relative;
			padding:4px 0;
			margin-top:-30px;
			margin-left:5px;
			width:100%;
			z-index:1;
		}
		.padding-cards-container{
			padding:0 30px;
		}
		.padding-cards-inicio{
			padding:0 30px;
		}
		.margin-cards{
			margin:0 22px;
		}
		.btn-header-container:hover .btn-header{
			color:#ee313d;
			background:#1559a9;
			border-left:solid 2px #ee313d;
			border-top:solid 2px #ee313d;
			border-right:solid 2px #1559a9;
			border-bottom:solid 2px #1559a9;
		}
		.btn-header-container:hover .btn-header-border{
			background:#fff!important;
			border-left:solid 2px #1559a9;
			border-top:solid 2px #1559a9;
			border-right:solid 2px #ee313d;
			border-bottom:solid 2px #ee313d;
		}
		.btn-footer{
			border:solid 2px #1559a9;
			color:#fff;
			background:#1559a9;
			position:relative;
			padding:6px 0;
			width:100%;
			z-index:10;
		}
		.btn-gral{
			border:solid 2px #fff;
			color:#ee313d;
			background:#fff;
			position:relative;
			padding:6px 0;
			width:100%;
			z-index:10;
		}
		.btn-red{
			border:solid 2px #fe5761;
			color:#fff;
			background:#fe5761;
			position:relative;
			padding:6px 0;
			width:100%;
			z-index:10;
		}
		.btn-footer-border{
			background:#fff;
			border:solid 2px #ee313d;
			position:relative;
			padding:4px 0;
			margin-top:-30px;
			margin-left:5px;
			width:100%;
			z-index:1;
		}
		.btn-gral-border{
			background:#fff;
			border:solid 2px #000;
			position:relative;
			padding:4px 0;
			margin-top:-30px;
			margin-left:5px;
			width:100%;
			z-index:1;
		}
		.btn-red-border{
			background:transparent;
			border:solid 2px #fe5761;
			position:relative;
			padding:4px 0;
			margin-top:-30px;
			margin-left:5px;
			width:100%;
			z-index:1;
		}
		.btn-header-container:hover .btn-footer{
			color:#ee313d;
			background:#fff;
			border-left:solid 2px #ee313d;
			border-top:solid 2px #ee313d;
			border-right:solid 2px #fff;
			border-bottom:solid 2px #fff;
		}
		.btn-header-container:hover .btn-footer-border{
			background:#1559a9;
			border-left:solid 2px #1559a9;
			border-top:solid 2px #1559a9;
			border-right:solid 2px #ee313d;
			border-bottom:solid 2px #ee313d;
		}
		.btn-more-container:hover .btn-gral,
		.btn-header-container:hover .btn-gral{
			background:#fff;
			color:#000;
			border-right:solid 2px #fff;
			border-bottom:solid 2px #fff;
			border-left:solid 2px #ee313d;
			border-top:solid 2px #ee313d;
		}
		.btn-more-container:hover .btn-gral-border,
		.btn-header-container:hover .btn-gral-border{
			background:#000;
			border-left:solid 2px #fff;
			border-top:solid 2px #fff;
			border-right:solid 2px #ee313d;
			border-bottom:solid 2px #ee313d;
		}
		.btn-header-container:hover .btn-red{
			background:#fff;
			color: #fe5761;
			border-left:solid 2px #fe5761;
			border-top:solid 2px #fe5761;
			border-right:solid 2px #fff;
			border-bottom:solid 2px #fff;
		}
		.btn-header-container:hover .btn-red-border{
			background:#999;
			border-left:solid 2px #fff;
			border-top:solid 2px #fff;
			border-right:solid 2px #fe5761;
			border-bottom:solid 2px #fe5761;
		}
		
		#footer ul,
		#footer ul li{
			margin:0;
			padding:0;
			list-style:none;
			line-height: 1;
		}
		#footer ul li a{
			color:#1559a9;
			font-size:12px;
			margin:0;
			text-align:left;
			text-decoration:none;
			padding:0;
		}
		#footer hr{
			border-top:solid #ee313d;
			height:0.2em;
			margin:0;
			padding:0;
			width:100%
		}
		#idiomas .uk-dotnav>.uk-active>*{
			background-color:#589e0c; 
		}
		.triangulo {
		    width: 0; 
		    height: 0; 
		    border-left:30px solid #ee313d;
		    border-top: 30px solid transparent;
		    border-bottom:30px solid transparent; 
		}
		.slider-principal .puntitos li{
			margin:0;
			padding-left:1px;
			margin-bottom:2px; 
		}
		.slider-principal .uk-dotnav>.uk-active>*{
			background:#ee313d
		}
		.slider-principal .uk-dotnav>*>*{
			border:solid #ee313d 1px;
		}
		#idiomas .puntitos li{
			margin:0;
			padding-left:1px;
			margin-bottom:2px; 
		}
		.detalle-margin{
			margin:0 46px;
		}
		.margin-moneditas{
			margin:0 16px;
		}
		.container-programa{
			position: absolute;
			margin-top: 0;
			top:6%;
		}
		.container-programa h3{
			font-weight:700
		}
		.width-70{
			width:70%;
		}
		.pestana{
			width: 100%!important;
		}

		/*PARA EL ADMIN*/
		.uk-input, .uk-select, .uk-textarea{
			border-left: transparent;
			border-top: transparent;
			border-right:solid #ee313d 2px;
			border-bottom:solid #ee313d 2px;
			color:#999;
			margin:0;
			padding:5px 0;
			width:100%;
		}
		.next-to-logo{
			margin-bottom: 0;
		}
		.border-text{
			text-shadow: -1px -1px 1px #1559a9, 1px -1px 1px #1559a9, -1px 1px 1px #1559a9, 1px 1px 1px #1559a9;
		}
		.uk-modal{
			background: rgba(21, 89, 169,.8);
		}
		.uk-modal-dialog{
			background: #eee;
		}
		#modal-buscar input{
		font-size:20px;
		  padding:6px 0;
		  padding-left:20px;
		  width:90%
		}
		#modal-buscar input::-webkit-input-placeholder { /* Edge */
		  color: #000;
		  
		}

		#modal-buscar input:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: #000;
		  
		}

		#modal-buscar input::placeholder {
		  color: #000;
		}
		/* --PARA LAS 4 FOTOS DE BANNER*/
		.amp {
		    font-family:Garamond, Baskerville, Georgia, serif !important;
		    font-style:italic;
		    font-weight:normal;
		    border: none;
		}
		/*contenedor de la foto*/
		a.polaroid {
		    display: block;
		    text-decoration: none;
		    color: #333;
		    padding: 10px 10px 20px 10px;
		    width: 150px;
		    border: 1px solid #BFBFBF;
		    background-color: white;
		    z-index: 2;
		    font-size: 0.7em;
		    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
		    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
		    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
		    -webkit-transition: -webkit-transform 0.5s ease-in;
		}
		/*al hacer el hover*/
		a.polaroid:hover, a.polaroid:focus, a.polaroid:active {
		    z-index: 999;
		    border-color: #6A6A6A;
		    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
		    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
		    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
		    -webkit-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    transform: rotate(0deg);
		}
		.polaroid img {
		    margin: 0 0 15px;
		    width: 150px;
		    height: 150px;
		}
		a img {
		    border: none;
		    display: block;
		}
		/*contenedor de todas las fotos*/
		.photo-album {
			position: relative;
		    /* width: 80%; */
		    /* margin: 0 auto; */
		    /* max-width: 70em; */
		    height: 450px;
		    margin-top: 5em;
		    /* min-width: 800px; */
		    /* max-width: 900px; */
		}
		/*todas las fotos*/
		.photo-album .polaroid {
		    position: absolute;
		}
		/*sobre la que te pones*/
		.photo-album h1 {
		    position: absolute;
		    z-index: 5;
		    top: 150px;
		    text-align: center;
		    width: 100%;
		    line-height: 1.9;
		}
		.photo-album h1{
		    margin:20px;
		}

		.photo-album .medium {
		    width: 200px;
		    padding: 13px 13px 26px 13px;
		    font-size: 0.8em;
		}
		.photo-album .tam {
		    height: 200px;width: 200px;
		}
		.photo-album .img4 {
		    top: 150px;
		    left: 320px;
		    -webkit-transform: rotate(-20deg);
		    -moz-transform: rotate(-20deg);
		    transform: rotate(-20deg);
		}
		.photo-album .img9 {
		    bottom: 0;
		    left: 0px;
		    -webkit-transform: rotate(8deg);
		    -moz-transform: rotate(8deg);
		    transform: rotate(8deg);
		}
		.photo-album .img10 {
		    top: 46px;
		    left: 280px;
		    -webkit-transform: rotate(8deg);
		    -moz-transform: rotate(8deg);
		    transform: rotate(8deg);
		}
		.photo-album .img15 {
		    left:120px;
		    top:30px;
		    -webkit-transform: rotate(-8deg);
		    -moz-transform: rotate(-8deg);
		    transform: rotate(-8deg);
		}
		a:hover, a:focus {
		    z-index: 5;
		}
		.uk-accordion-title:focus, .uk-accordion-title:hover, .textfooter li a, .color-blanco, .color-blanco:hover, .ui-datepicker-calendar a{
			color:#fe5761!important;
		}
		.uk-accordion-title{
			color:#000!important;
		}
		.detalle-programa{

		}
		.fotos-galeria{
			padding-top:calc(100vh / 5);padding-left:60px;
		}
		.logo_foto{
			position: absolute;
		    top: 60vh;
		    left: 210px;
		    z-index:999;
		}
		.top-slider{
			padding-top:calc(100vh / 3);
		}
		.vertodo_beca{
			color:#fff; padding:30px; padding-top:0;
        	height:50px;
		    word-wrap: break-word;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    content: '...';
		}
		.negritas{
			font-weight: 700;
		}

		#form-tags-1_tagsinput{
			border-radius:30px;
			background:#e5e5e5;
			color: #000;
			border: solid transparent;
		}
		#form-tags-1_tag::placeholder{
			color: #e5e5e5;
		}
		/* ----------- GENERALES ----------- */
		/* ----------- PAGINAS ----------- */
		/* ----------- FIN ----------- */


/*  ---------- GENERALES    */
	#cotizacion-fixed{
		top:0;
		right:0px;
		width:30px;
		z-index: 1011;
	}
	#cotizacion-fixed div{
		width: 40px;
		position: fixed;
		right: 0;
		top: 50%;
		margin-top: -150px;
	}
	#cotizacion-fixed img{
		box-shadow: 0 0 20px white;
		border-radius: 10px 0 0 10px;
	}
	a{
		text-decoration: none!important;
	}
	a,
	a:hover,
	.uk-button,
	.uk-button:hover,
	.transicion,
	.transicion:hover{
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	#totop{
		position: fixed;
		right: 35px;
	}
	#totop a{
		color: white;
		font-size: 30px;
		height: 60px;
		width: 60px;
	}
	h1{
		font-size: 1.2em;
	}
	h2{
		font-size: 1.1em;
	}
	h3,h4,h5,h6{
		font-size: 1em;
	}
	.alpha0{
		opacity: 0;
	}
	.claro,
	.alpha-1-5:hover{
		opacity:.6;
	}
	.oscuro,
	.alpha-1-0:hover{
		opacity:0;
	}
	.alpha-1-0,
	.alpha-1-5,
	.claro:hover,
	.oscuro:hover,
	.alpha1hover:hover{
		opacity: 1;
	}
	.margin-0{
		margin: 0;
	}
	.margin-8{
		margin:8px;
	}
	.margin-10{
		margin:10px;
	}
	.margin-16{
		margin:16px;
	}
	.margin-26{
		margin:26px;
	}
	.margin-0-46{
		margin:0 46px;
	}
	.margin-top-5{
		margin-top: 5px;
	}
	.margin-top-10{
		margin-top: 10px;
	}
	.margin-top-20{
		margin-top: 20px;
	}
	.margin-top-25{
		margin-top: 25px!important;
	}
	.margin-top-30{
		margin-top: 30px;
	}
	.margin-top-40{
		margin-top: 40px;
	}
	.margin-top-50{
		margin-top: 50px;
	}
	.margin-top-60{
		margin-top: 60px;
	}
	.margin-top-80{
		margin-top: 80px;
	}
	.margin-top-90{
		margin-top: 90px;
	}
	.margin-top-100{
		margin-top: 100px;
	}
	.margin-top-menos-80{
		margin-top: -80px;
	}
	.margin-top-menos-150{
		margin-top: -150px;
	}
	.margin-top-menos-100{
		margin-top: -100px;
	}
	.margin-top-menos-50{
		margin-top: -50px;
	}
	.margin-top-menos-20{
		margin-top: -20px;
	}
	.margin-top-menos-10{
		margin-top: -10px;
	}
	.margin-bottom-menos-74{
		margin-top: -74px
	}
	.margin-bottom-50{
		margin-bottom: 50px;
	}
	.margin-bottom-20{
		margin-bottom: 20px;
	}
	.margin-45{
		margin-top: 45px;
		margin-right:45px;
	}
	.margin-h-5{
		margin-left: 5px;
		margin-right: 5px;
	}
	.margin-v-8{
		margin-bottom: 8px;
		margin-top: 8px;
	}
	.margin-v-10{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.margin-v-12{
		margin-bottom: 12px;
		margin-top: 12px;
	}
	.margin-v-20{
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.margin-v-25{
		margin-bottom: 25px!important;
		margin-top: 25px;
	}
	.margin-v-50{
		margin-bottom: 50px!important;
		margin-top: 50px;
	}
	.margin-v-70{
		margin-bottom: 70px;
		margin-top: 70px;
	}
	.margin-h-70{
		margin-left: 70px;
		margin-right:70px;
	}
	.margin-h-180{
		margin-left: 180px;
		margin-right:180px;
	}
	.margin-right-60{
		margin-right:60px;
	}
	.margin-right-20{
		margin-right: 20px;
	}
	.margin-left-20{
		margin-left: 20px;
	}
	.margin-right-menos-50{
		margin-right: -45px;
	}
	.margin-right-menos-20{
		margin-right: -15px;
	}
	.padding-bottom-10{
		padding-bottom: 10px;
	}
	.padding-bottom-20{
		padding-bottom: 20px;
	}
	.padding-bottom-50{
		padding-bottom: 50px;
	}
	.padding-bottom-60{
		padding-bottom: 60px;
	}
	.padding-bottom-100{
		padding-bottom: 100px;
	}
	.padding-bottom-200{
		padding-bottom: 200px;
	}
	.padding-top-5{
		padding-top: 5px;
	}
	.padding-top-10{
		padding-top: 10px;
	}
	.padding-top-20{
		padding-top: 20px;
	}
	.padding-top-30{
		padding-top: 30px;
	}
	.padding-top-40{
		padding-top: 40px;
	}
	.padding-top-50{
		padding-top: 50px;
	}
	.padding-top-60{
		padding-top: 60px;
	}
	.padding-top-100{
		padding-top: 100px;
	}
	.padding-0{
		padding-right:0;
		padding-left:0;
		padding-bottom:0;
		padding-top:0;
	}
	.padding-v-0{
		padding-bottom:0;
		padding-top:0;
	}
	.padding-v-3{
		padding-bottom: 3px;
		padding-top: 3px;
	}
	.padding-v-5{
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.padding-v-10{
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.padding-v-20{
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.padding-v-30{
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.padding-v-50{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.padding-v-100{
		padding-bottom: 100px;
		padding-top: 100px;
	}
	.padding-left-10{
		padding-left: 10px;
	}
	.padding-left-20{
		padding-left: 20px;
	}
	.padding-left-50{
		padding-left: 50px;
	}
	.padding-left-100{
		padding-left: 100px;
	}
	.padding-right-10{
		padding-right: 10px;
	}
	.padding-right-20{
		padding-right: 20px;
	}
	.padding-right-50{
		padding-right: 50px;
	}
	.padding-right-60{
		padding-right: 60px;
	}
	.padding-h-5{
		padding-left: 5px;
		padding-right: 5px;
	}
	.padding-h-10{
		padding-left: 10px;
		padding-right: 10px;
	}
	.padding-h-20{
		padding-left: 20px;
		padding-right: 20px;
	}
	.padding-h-30{
		padding-left: 30px;
		padding-right: 30px;
	}
	.padding-h-50{
		padding-left: 50px;
		padding-right: 50px;
	}
	.padding-h-70{
		padding-left: 70px;
		padding-right: 70px;
	}
	.padding-0{
		padding: 0px;
	}
	.padding-5{
		padding:5px;
	}
	.padding-10{
		padding:10px;
	}
	.padding-15{
		padding:15px;
	}
	.padding-20{
		padding:20px;
	}
	.padding-30{
		padding:30px;
	}
	.padding-40{
		padding:40px;
	}
	.padding-50{
		padding:50px;
	}
	.padding-60{
		padding:60px;
	}
	.padding-120{
		padding:120px;
	}
	.min-height-150px{
		min-height: 150px;
	}
	.min-height-250px{
		min-height: 250px;
	}
	.max-height-300px{
		max-height: 300px;
	}
	.min-height-500px{
		min-height: 500px;
	}
	.max-width-200{
		max-width: 200px;
	}
	.max-width-600{
		max-width: 600px;
	}
	.pointer{
		cursor: pointer;
	}
	#map{
		min-height: 400px;
	}
	.text-5{
		font-size: .5em;
	}
	.text-6{
		font-size: .6em;
	}
	.text-xs,
	.text-7{
		font-size: .7em;
	}
	.text-8{
		font-size: .8em;
	}
	.text-sm,
	.text-9
	{
		font-size: .9em!important;
	}
	.text-11
	{
		font-size: 1.1em;
	}
	.text-lg{
		font-size: 1.2em;
	}
	.text-xl{
		font-size: 1.5em!important;
	}
	.text-xxl{
		font-size: 2em;
	}
	.text-xxl-2{
		font-size: 2.5em;
	}
	.text-xxxl{
		font-size: 3em;
	}

	.text-v{
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}
	.uk-text-bold{
		font-weight: 600;
	}
	.uk-text-light{
		font-weight: 300;
	}

	.margin-0{
		margin: 0px;
	}
	/* danger */
	.uk-button{
		font-weight: 700;
		text-transform: none;
	}
	.uk-button-danger{
		background: #f00;
		color: #fff;
	}
	.uk-button-danger:active,
	.uk-button-danger.uk-active{
		background: #d00;
		color: #fff;	
	}
	.uk-button-danger:hover,
	.uk-button-danger:focus{
		background: #a00;
		color: #fff;
	}

	/* personal */
	.uk-button-primary,
	.uk-button-personal {
		border:solid 2px #fff;
		color:#1559a9;
		background:#fff;
		border-right:solid 2px #fff;
		border-bottom:solid 2px #fff;
		border-left:solid 2px #1559a9;
		border-top:solid 2px #1559a9;
		-webkit-box-shadow: 10px 10px 19px -12px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 19px -12px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 19px -12px rgba(0,0,0,0.75);
	}
	.uk-button-default{
		border:solid 2px #1559a9;
		color:#fff;
		background:#1559a9;
		border-right:solid 2px #ee313d;
		border-bottom:solid 2px #ee313d;
		border-left:solid 2px #1559a9;
		border-top:solid 2px #1559a9;
		-webkit-box-shadow: 10px 10px 19px -12px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 10px 19px -12px rgba(0,0,0,0.75);
		box-shadow: 10px 10px 19px -12px rgba(0,0,0,0.75);
	}
	/* Hover + Focus */
	.uk-button-primary:active,
	.uk-button-primary.uk-active,
	.uk-button-primary:hover,
	.uk-button-primary:focus,
	.uk-button-personal:active,
	.uk-button-personal.uk-active,
	.uk-button-personal:hover,
	.uk-button-personal:focus {
		color:#ee313d;
		background:#1559a9;
		border-right:solid 2px #ee313d;
		border-bottom:solid 2px #ee313d;
		border-left:solid 2px #1559a9;
		border-top:solid 2px #1559a9;
	}
	.uk-button-default:active,
	.uk-button-default.uk-active,
	.uk-button-default:hover,
	.uk-button-default:focus {
		color:#1559a9;
		background:#fff;
		border-right:solid 2px #fff;
		border-bottom:solid 2px #fff;
		border-left:solid 2px #ee313d;
		border-top:solid 2px #ee313d;
	}

	/* slider */
	.uk-button-slider {
		  background: rgba(0,0,0,.5);
		  color: white;
		  border: solid 2px white;
	}
	.uk-button-slider:active,
	.uk-button-slider.uk-active,
	.uk-button-slider:hover,
	.uk-button-slider:focus {
		box-shadow: 0 0 20px white;
		background-color: black;
		border: solid 2px white;
		color: white;
	}

	/* Login */
	.uk-button-login{
		background: white;
		color: red;
	}

	/* registro */
	.uk-button-registro {
		  background: #59a168;
		  border-radius: 15px;
		  color: white;
		  border: solid 2px #59a168;
		  padding-left: 20px;
		  width: 100%;

	}
	/* Hover + Focus */
	.uk-button-registro:active,
	.uk-button-registro.uk-active,
	.uk-button-registro:hover,
	.uk-button-registro:focus {
		  background-color: transparent;
		  border: solid 2px #59a168;
		  color: #59a168!important;

	}

	/* Footer */
	.uk-button-fotter {
	  background: white;
	  border-radius: 10px;
	  color: #2d63a3;
	  margin-left: 5px;
	  width: 120px;
	  padding-left: 20px;

	}
	/* Hover + Focus */
	.uk-button-fotter:active,
	.uk-button-fotter.uk-active,
	.uk-button-fotter:hover,
	.uk-button-fotter:focus {
	  background-color: #0079b0;
	  color: white;
	}
	/*AQUI PODEMOS CAMBIAR EL COLOR DEL BORDER BOTTOM Y EL COLOR DE ICONO Y EL NOMBRE 
	  YA QUE LOGEADO*/
	.linea-button{ 
		border-bottom: solid 2px #59a168;
		color: #ff7344;
	}
	.outline-5{
		outline: solid 5px white;
	}
	.outline-10{
		outline: solid 10px white;
	}

	/* totop */
	.uk-button-totop,
	.uk-button-totop:hover,
	.uk-button-totop:focus,
	.uk-button-totop:active,
	.uk-button-totop.uk-active {
	  background-color: #333;
	  color: #fff;
	}
	/*  claro */
	.uk-button-white {
	  background-color: #fff;
	  color: #333;
	  border: 1px solid #fff;
	}
	/* Hover + Focus */
	.uk-button-white:hover,
	.uk-button-white:focus {
	  background-color: #eee;
	  color: #111;
	}
	/* OnClick + Active */
	.uk-button-white:active,
	.uk-button-white.uk-active {
	  background-color: #ddd;
	  color: #000;
	}
	/*  TOP */
	.uk-button-top {
	  background-color: #000;
	  border: 1px solid #000;
	  color: #EEE;
	  font-size: 18px;
	  padding-top: 5px;
	}
	/* Hover + Focus */
	.uk-button-top:hover,
	.uk-button-top:focus {
	  background-color: #000;
	  color: #fff;
	}
	/* OnClick + Active */
	.uk-button-top:active,
	.uk-button-top.uk-active {
	  background-color: #000;
	  color: #CCC;
	}
	.uk-lightbox {
		background: rgba(0,0,0,.7)!important;
	}
	.uk-notification-message{
		background: none!important;
		color: white;
		text-align: center;
	}
	.uk-notification-message div{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	textarea{
		resize:none;
	}
	.z1{
		z-index: 1;
	}
	.z2{
		z-index: 2;
	}
	.circle{
		height: 25px;
		width: 25px;
	}
	
	#cotizador-tab li a{
   		border-radius: 5px;
    	height: 65px;
    	width: 220px;
    	color: #1a5897;	
    	font-family: 'Signika', sans-serif;
	}

	#cotizador-tab li a:hover{
		background:#999;
	}
	#cotizador-tab .uk-active>a{
		border-radius: 5px;
    	background: #1a5897;
    	color: white;
	}	
	.uk-switcher::before {
		bottom: -10px;
		border-bottom: 5px solid #e5e5e5;

	}

	/* SCROLL */
	::-webkit-scrollbar {
	  width: 8px;
	}
	/* Track */
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 0 transparent; 
	  border-radius: 8px;
	  background: transparent;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
	  border-radius: 8px;
	  background: #CCC;
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: transparent; 
	}

/* ----------- XML SITE MAP */
	urlset{
		background: url(../img/design/logo-white.png) no-repeat top center #00a193;
		padding-top: 110px;
	}
	url {
		background: #fff;
		display: block;
		padding: 10px
	}
	loc{
		display: block;
		margin: 0 auto;
		width: 1200px;
	}
	.parrafo-margin p{
		margin:5px;
	}
	.login-parner-button{
		background:#b5b5b5;
		border-radius:40px;
		color:#000;
		font-size:14px;
		padding:8px 0;
		width:140px
	}
	.login-parner-button:hover{
		background:#1559a9;
		color:white;
		border-bottom :2px solid #ee313d ; 
		border-right:2px solid #ee313d;
	}
	.comparte{
		background:#e5e5e5!important;
		padding:15px 0;
		font-size: 18px;
		border-radius: 10px;
		text-align: center;
	}
	.comienza-button{
		background:rgba(253,92,99);
		border-radius: 10px;
		color:#FFF;
		font-size:18px;
		padding:15px 10px;
		height: 30px;
   		width: 240px;
   		text-align: center;
	}
	.user-badge{
		background:rgba(253,92,99);
		font-size:18px;
		color:white;
		width: 180px;
		border-radius: 5px;
   		text-align: center;
	}
	.comienza-button:hover{
		background:#1559a9;
		border-radius: 10px;
	
	}
	.buybuttoncotizar{
		min-width: 200px;
	}
	.grey-hover:hover{
		background:#b6b9bd;
		border-radius: 10px;	
	}


/* ----------- MEDIA QUERY  */

	@media (min-width: 1800px){
		.bg-header-2{
			background-size: 100%;
		}
		.bg-central{
			background-size: 100%;
			height: 500px; 
		}
	}
	@media (max-width: 1600px){/*Tamaño xl*/
	}
	/*@media only screen and (max-width: 1440px) and (min-width: 821px) {  
  		body{
			border:solid 4px brown;
		}
	} */
	@media (max-width: 1440px){
		.padding-cards-inicio{
			padding:0;
		}
		.padding-cards-inicio .margin-cards{
			margin:8px;
		}
		.margin-cards{
			margin:0;
		}
	}
	@media (max-width: 1200px){/*Tamaño l*/
		.top_menu{
			margin-top:-50px
		}
		.padding-cards-container {
		    padding: 0 10px;
		}
		.container-programa{
			top:7%;
		}
		.container-programa h3{
			font-weight:700;
			font-size:1em;
		}
		.container-programa img{
			width:30%;
		}
		.detalle-escuela .margin-top-100{
			margin-top:60px
		}
		.detalle-escuela .margin-h-180 {
		    margin-left: 74px;
		    margin-right:74px;
		}
	}
	@media (max-width:1050px){
		.no-movil{
			display:none;
		}
		.pestana{
			height:50px;
		}
		.inputs{
			padding: 10px 0;
		}
		.padding-120{
			padding: 70px!important;
		}
		.photo-album .medium {
		    width:140px;
		    padding: 13px 13px 26px 13px;
		    font-size: 0.8em;
		}
		.photo-album .img4 {
		    left: 220px;
		}
		.photo-album .img15 {
    		left:20px;
    	}
    	.photo-album .img10 {
	    	left: 190px;
	    }
	}
	@media (max-width: 960px){ /*Tamaño m*/
		.eventos{
			margin-top: 0px;
		}	
		.header-eventos{
			position: absolute; 
			top:120px; 
			right: 0px;
		}
		.container-mision{
			border-left:none;
		}
		.container-vision{
			border-right:none;
		}
		.margin-moneditas{
			margin:0;
		}
		.padding-cards-container{
		    padding: 0 10px;
		}
		.detalle-escuela .margin-h-180 {
		    margin-left: 40px;
		    margin-right:40px;
		}
		.width-70{
			width:50%;
		}
		.expand-pc{
			display:none;
		}
		.no-movil{
			display:none;
		}
		.width-5{
			width: 20%;
		}
		.fotos-galeria{
			padding-top:0!important
		}
	}
	@media (max-width: 820px){
		.next-menu{
			display: inline-block;
			vertical-align: middle;
			width:50%;
		}
		.no-movil{
			display:none;
		}
		.next-to-logo{
			display: inline-block;
			width: 65%;
		}
		.padding-120{
			padding:90px!important;
		}
		.movil-logo{
			display:inline-block;
			width:33%;
		}
		.width-5{
			width:10%;
		}
		.margin-bottom-menos-74{
			margin-top:0!important;
		}
		.detalle-programa div{
			padding:0!important;
		}
		.detalle-programa .padding-h-50{
			padding:20px!important;
		}
		.detalle-margin{
			margin: 0 16px;
		}
		.logo_foto{
			top:10vh!important;
    		left:50%!important;
		}
		.top-slider{
			padding-top:0;
		}
		.margin-right-60{
			margin-right:0;
		}
		.vertodo_beca{
			padding-bottom:120px;
		}
	}
	@media (max-width: 640px){/* Tamaño s*/
		.width-70{
			width:100%;
		}
		.movil-logo{
			display:inline-block;
			width:33%;
		}
		.no-movil{
			display:none;
		}
		.style-header {
		    background-size: contain!important;
		    background-repeat: no-repeat!important;
		}
		.width-5{
			width:20%;
		}
		.padding-120{
			padding:120px!important;
		}
		.container-programa{
			position: relative!important;
			margin-top: 0;
			top:0;
		}
	}
	@media (max-width: 550px){
		.no-movil{
			display:none;
		}
	}

